.adminContainer {
  max-width: 700px;
  margin: 80px auto;
  padding: 28px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 150px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.card {
  flex: 1;
  margin: 0 10px;
  background: #e4e9f7;
  color: #333;
  padding: 18px 0;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.card:hover {
  background: #c3d1ff;
}

.activeCard {
  background: #0066cc;
  color: white;
}

.formContainer {
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #003366;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.input,
.select {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}


.orderList {
  margin-top: 20px;
}

.orderItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

.dangerButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}


.button {
  padding: 10px 20px;
  background: #0066cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #0050a0;
}

.status {
  margin-top: 12px;
  font-weight: bold;
  color: green;
}

.logoutBtn {
  display: flex; 
  flex-direction:row; 
  justify-content:space-between; 
  margin-bottom:20px;
}

.Btn {
  height:30px; 
  background-color:red; 
  border:none; 
  border-radius:20px; 
  cursor:pointer; 
  color:white; 
  font-weight:bolder;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem 0;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}